*{
    color: #fff;
    transition: all 0.3s;
}
body{
    background: linear-gradient(to right, #0e3a70 0%,#43094f 100%);
}
.switch-mode{
    background: #111;;
}
.switch-btn{
    /* background: url(/img/day.png) no-repeat center center; */
    background: url(./../img/day.png) no-repeat center center;
    background-size: 5.3rem;

}
.input-box input{
    color: #111;
}
.welcome, .result{
    background: #111;
}
.answer-btn {
    color: #111;
    background: #fff;
    transition: all 0.3s;
}
.progress-guage, .progress-score{
    background:#7347cd
}
@media all and (max-width: 768px) {
    body{
        background: #111;
    }
}
/* pc에서만 버튼 hover적용 */
@media (hover: hover) {
    .answer-btn:hover{
        background: #fff;
        color: #111;
        opacity: 0.8;
    }
}