body{
    background: linear-gradient(to right, #eafffc 0%,#f0e8ff 100%);   
}
.wrap{
    width: 100%;
    height: 100%;
    max-width: 100%;
    min-height: 100%;
    padding: 9.375rem 0;
}
.container{
    padding: 5rem;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
    background: #fff;
}
/* header */
.switch-mode{
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    width: 60%;
    min-width: 60%;
    height: 5.3rem;
    margin: 0 auto;
    border-radius:30px;
    background: #fff;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.1);
}
.switch-btn{
    display: flex;
    width: 100%;
    background: url(./img/night.png) no-repeat center center;
    background-size: 5.3rem;
}
/* welcome section */
.welcome{
    width: 60%;
    min-width: 60%;
    margin: 0 auto;
    text-align: center;
}
.welcome-title{
    padding-bottom: 1.6rem;
    font-size: 3.437rem;
    font-weight: bold;
    opacity: 0;
    animation: fade-in 0.5s ease-out 0.5s forwards,
    going-down 0.5s ease-out 0.5s forwards;
}
.welcome-sec{
    font-size: 1.875rem;
    opacity: 0;
    animation: fade-in 0.5s ease-out 1s forwards,
    going-down 0.5s ease-out 1s forwards;
}
.welcome-info-box{
    margin-top: 3.125rem;
}
.welcome-info{
    font-size: 1.125rem;
    opacity: 0;
    animation: fade-in 0.5s ease-out 1.5s forwards,
    going-down 0.5s ease-out 1.5s forwards;
}
.input-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    animation: fade-in 0.5s ease-out 2s forwards,
    going-down 0.5s ease-out 2s forwards;
    margin-top: 3.125rem;
}
.input-box input{
    width: 31.25rem;
    height: 3.125rem;
    text-align: center;
    font-size: 1.25rem;
    color: #111;
    font-weight: bold;
    border-radius: 30px;
    border: 1px solid #eee;
}
.input-box .start-btn{
    margin-top: 1.25rem;
    width: 18.75rem;
    border-radius: 30px;
    font-size: 1.25rem;
    padding: 0.937rem 0;
    background: #b89eed;
    color: #fff;
}
.input-box .input-notice{
    font-size: 1.125rem;
}
/* qna section */
.qna{
    display: none;
    width: 60%;
    min-width: 60%;
    margin: 0 auto;
}
.progress-bar{
    opacity: 0;
    width: 100%;
    height: 1.56rem;
    border-radius: 30px;
    background: #f7f7f7;
    margin-bottom: 1.56rem;
    animation-delay: 0.5s !important;
}
.progress-guage{
    position: relative;
    height: inherit;
    border-radius: 30px;
    background: #906cdb;
    transition: all 0.4s;
}
.progress-score{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -2.25rem;
    right: 0;
    width: auto;
    height: 1.875rem;
    padding: 0.312rem;
    background: #906cdb;
    font-size: 1rem;
    border-radius: 10px 10px 10px 0;
    color: #fff;
}
.progress-score.half{
    border-radius: 10px 10px 0 10px;
}
.question{
    font-size: 1.875rem;
    font-weight: bold;
    text-align: center;
    opacity: 0;
    animation-delay: 1s!important;
}
.answer{
    display: flex;
    flex-direction: column;
    margin-top: 2.5rem;
    opacity: 0;
    animation-delay: 1.5s !important;
}
.answer-btn{
    padding: 1.562rem;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.1);
    background: #fff;
    border-radius: 30px;
    font-size: 1.25rem;
    transition: all 0.3s;
}
.answer-btn + .answer-btn{
    margin-top: 1.875rem;
}
.answer-btn:hover{
    background: #111;
    color: #fff;
    opacity: 0.8;
}
/* calcalute section */
.calc-box{
    display: none;
    width: 60%;
    min-width: 60%;
    margin: 6.25rem auto 0;
}
.calc-bar{
    position: relative;
    width: 100%;
    height: 3rem;
    border-radius: 30px;
    font-size: 1.875rem;
    color: #fff;
    background: black;
    text-align: center;
    opacity: 0;
    animation-delay: 1s!important;
}
.calc-box .calc-txt{
    text-align: center;
    font-size: 2rem;
    font-weight: 200;
    padding-bottom: 3rem;
    opacity: 0;
    animation-delay: 0.5s!important;
}
.calc-box .calc{
    position: absolute;
    left: 0;
    top: 0;
    height: inherit;
    border-radius: 30px;
    background: linear-gradient(to right, #57a0db 1%,#e577c4 100%);
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.1);
    transition: ease 0.3s;
}
/* result section */
.result{
    opacity: 0;
    display: none;
    width: 60%;
    min-width: 60%;
    margin: 0 auto;
}
.desc-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.desc-box .test-info{
    font-size: 2.8rem;
    font-weight: bold;
    margin-bottom: 1.875rem;
    opacity: 0;
    animation: fade-in 0.5s ease-out 1s forwards,
    going-down 0.5s ease-out 1s forwards;
}
.test-img{
    height: 37.5rem;
    opacity: 0;
    animation: fade-in 0.5s ease-out 1.5s forwards,
    going-down 0.5s ease-out 1.5s forwards;
}
.test-img img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.test-result{
    margin-top: 1.875rem;
}
.test-name{
    font-size: 1.875rem;
    font-weight: bold;
    opacity: 0;
    animation: fade-in 0.5s ease-out 2s forwards,
    going-down 0.5s ease-out 2s forwards;
}
.test-desc{
    margin-top: 1.25rem;
    font-size: 1.25rem;
    opacity: 0;
    animation: fade-in 0.5s ease-out 2.5s forwards,
    going-down 0.5s ease-out 2.5s forwards;
}
.test-btn{
    margin-top: 1.25rem;
    width: 18.75rem;
    border-radius: 30px;
    font-size: 1.25rem;
    padding: 0.937rem 0;
    background: #b89eed;
    color: #fff;
    margin: 2rem auto 0;
    opacity: 0;
    animation: fade-in 0.5s ease-out 3s forwards,
    going-down 0.5s ease-out 3s forwards;
}
/* animation */
@-webkit-keyframes fade-in {
    0% {opacity: 0;}
    100% {opacity: 1;}
  }
  @keyframes fade-in {
    0% {opacity: 0;}
    100% {opacity: 1;}
  }
  @-webkit-keyframes fade-out {
    0% {opacity: 1;}
    100% {opacity: 0;}
  }
  @keyframes fade-out {
    0% {opacity: 1;}
    100% {opacity: 0;}
  }
  @-webkit-keyframes going-up {
    0% {transform: translateY(0);}
    100% {transform: translateY(-10px);}
  }
  @keyframes going-up {
    0% {transform: translateY(0);}
    100% {transform: translateY(-10px);}
  }
  @-webkit-keyframes going-down {
    0% {transform: translateY(0);}
    100% {transform: translateY(10px);}
  }
  @keyframes going-down {
    0% {transform: translateY(0);}
    100% {transform: translateY(10px);}
  }
  .ani{
    animation: fade-in 0.5s ease-out forwards,
    going-down 0.5s ease-out forwards;
  }
  .ani02{
    animation: fade-out 0.5s ease-out forwards,
    going-up 0.5s ease-out forwards;
  }
/* 반응형 */
@media all and (max-width: 1024px) {
html{
    font-size: 14px;
}
.input-box input{
    width: 25rem;
}
}
@media all and (max-width: 768px) {
    html{
        font-size: 12px;
    }
    body{
        background: #fff;
    }
    .wrap{
        padding: 5.375rem 0;
    }
    .container{
        padding: 3rem;
    }
    .qna{
        padding-top: 4rem;
    }
    .switch-mode, .welcome, .result{
        width: 100%;
        border-radius: 0;
    }
    .welcome, .result{
        box-shadow: none;
    }
    .qna, .calc-box{
        width: 80%;
    }
    .test-info{
        font-size: 2.5rem!important;
        animation-delay: 0.25s!important;
    }
    .test-img{
        height: 30rem!important;
        animation-delay: 0.75s!important;
    }
    .test-name{
        animation-delay: 1.25s!important;
    }
    .test-desc{
        animation-delay: 1.75s!important;
    }
    .result.ani{
        animation: fade-in 0.2s ease-out forwards, going-down 0.2s ease-out forwards;
    }
} 


